html,
body {
  min-width: 320px;
}
.topText {
  height: 1.173304rem;
  background-color: #ff841d;
}
.topText .arrowLeft {
  width: 1.3333rem;
  height: 0.639984rem;
  height: 1.173304rem;
  line-height: 1.173304rem;
  font-size: 0.39999x;
  color: #fff;
  text-align: center;
}
.topText .title {
  color: #fff;
  font-size: 0.573319rem;
  margin: 0 1.3333rem;
  text-align: center;
  line-height: 1.173304rem;
}
.topText .appdow {
  text-align: center;
  width: 1.3333rem;
  margin-top: 0.13333rem;
}
.topText .appdow img {
  height: 0.879978rem;
}
.footer {
  height: 1.133305rem;
  margin-top: 0.653317rem;
}
.footer .login {
  font-size: 0.333325rem;
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.93331rem;
}
.footer .login .lo {
  width: 30%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.footer .login .top {
  width: 40%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.footer .login .top img {
  height: 0.373324rem;
  vertical-align: sub;
}
.footer .dowload {
  text-align: center;
  font-size: 0.253327rem;
  margin: 0.453322rem 0;
}
.footer .dowload .app span:first-child {
  color: red;
  font-weight: 700;
}
.footer .dowload .app span:nth-child(2) {
  color: #000;
  font-weight: 700;
}
.footer .dowload .dizhi {
  margin-top: 0.066665rem;
}
.shuju {
  background-color: #fff;
}
.shuju > .tuijian > li {
  padding: 0.39999rem 0.106664rem;
}
.shuju > .tuijian > li > a {
  display: block;
  overflow: hidden;
}
.shuju > .tuijian > li > a > .f-left {
  width: 2.6666rem;
}
.shuju > .tuijian > li > a > .f-left > img {
  width: 2.6666rem;
}
.shuju > .tuijian > li > a > .txt {
  margin-left: 2.79993rem;
}
.shuju > .tuijian > li > a > .txt > p {
  font-size: 0.359991rem;
  margin-bottom: 1.19997rem;
}
.shuju > .tuijian > li > a > .txt > p > span {
  color: #ff6c00;
}
.shuju > .tuijian > li > a > .txt > .time > span {
  font-size: 0.26666rem;
}
.shuju > .page {
  height: 1.06664rem;
  line-height: 1.06664rem;
  font-size: 0.26666rem;
  color: #000;
  width: 100%;
}
.shuju > .page span {
  display: inline-block;
  text-align: center;
}
.shuju > .page .bo a {
  height: 0.906644rem;
  width: 2.186612rem;
  background-color: #e4e4e4;
  border: 1px solid #ccc;
  padding: 0.13333rem 0.199995rem;
}
.shuju > .page .pageNum select {
  width: 2.39994rem;
  height: 0.79998rem;
}
