html,
body {
  min-width: 320px;
}
#header {
  background-color: #ff841d;
  height: 1.3333rem;
}
#header > .logo {
  height: 0.999975rem;
  padding-top: 0.386657rem;
  margin-left: 0.439989rem;
}
#header > .logo > a > img {
  height: 0.613318rem;
}
#header > .dow {
  height: 0.93331rem;
  padding-top: 0.186662rem;
  padding-right: 0.186662rem;
}
#header > .dow > a > img {
  height: 0.93331rem;
}
.search {
  height: 1.373299rem;
  background-color: #fff;
  padding: 0 0.26666rem;
}
.search > .left {
  margin-right: 1.86662rem;
}
.search > .left > input[type="text"] {
  width: 100%;
  height: 0.79998rem;
  border-radius: 0.39999rem;
  background-color: #f1f1f1;
  font-size: 0.333325rem;
  margin-top: 0.26666rem;
  text-indent: 0.39999rem;
}
.search > .f-right {
  width: 1.86662rem;
}
.search > .f-right > input {
  height: 0.79998rem;
  width: 1.679958rem;
  border-radius: 0.39999rem;
  margin-top: 0.26666rem;
  font-size: 0.413323rem;
  color: #fff;
  background-color: #ff841d;
  margin-left: 0.199995rem;
}
.recommend {
  background: linear-gradient(to bottom, #fff, #f7f7f7);
  padding-top: 0.13333rem;
  height: 0.959976rem;
  padding: 0 0.26666rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 0.93331rem;
}
.recommend > .f-left {
  font-size: 0.439989rem;
}
.recommend > .f-right > input {
  display: inline-block;
  width: 1.626626rem;
  border: 1px solid #ccc;
  font-size: 0.346658rem;
  border-radius: 7px;
  height: 0.746648rem;
  box-shadow: 2px 2px 5px #ccc;
  margin-top: 0.026666rem;
  background: linear-gradient(to bottom, #f7f7f7, #fff);
}
.footer {
  height: 1.133305rem;
  margin-top: 0.653317rem;
}
.footer .login {
  font-size: 0.333325rem;
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.93331rem;
}
.footer .login .lo {
  width: 30%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.footer .login .top {
  width: 40%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.footer .login .top img {
  height: 0.373324rem;
  vertical-align: sub;
}
.footer .dowload {
  text-align: center;
  font-size: 0.253327rem;
  margin: 0.453322rem 0;
}
.footer .dowload .app span:first-child {
  color: red;
  font-weight: 700;
}
.footer .dowload .app span:nth-child(2) {
  color: #000;
  font-weight: 700;
}
.footer .dowload .dizhi {
  margin-top: 0.066665rem;
}
.menu {
  padding-top: 0.39999rem;
  background-color: #fff;
}
.menu > .menu-deta {
  overflow: hidden;
}
.menu > .menu-deta > li {
  text-align: center;
  padding-top: 0.079998rem;
  padding-bottom: 0.319992rem;
  background-color: #fff;
}
.menu > .menu-deta > li > a > img {
  height: 1.3532995rem;
}
.menu > .menu-deta > li > a > p {
  margin-top: 0.079998rem;
  font-size: 0.293326rem;
  color: #000;
}
.shuju {
  background-color: #fff;
}
.shuju > .tuijian > li {
  padding: 0.39999rem 0.106664rem;
}
.shuju > .tuijian > li > a {
  display: block;
  overflow: hidden;
}
.shuju > .tuijian > li > a > .f-left {
  width: 2.6666rem;
}
.shuju > .tuijian > li > a > .f-left > img {
  width: 2.6666rem;
}
.shuju > .tuijian > li > a > .txt {
  margin-left: 2.79993rem;
}
.shuju > .tuijian > li > a > .txt > p {
  font-size: 0.359991rem;
}
.shuju > .tuijian > li > a > .txt > p > span {
  color: #ff6c00;
}
.shuju > .tuijian > li > a > .txt p:first-child {
  margin-bottom: 0.26666rem;
}
.shuju > .tuijian > li > a > .txt p:nth-child(2) {
  color: red;
}
.shuju > .tuijian > li > a > .txt > .time {
  margin-top: 0.066665rem;
}
.shuju > .tuijian > li > a > .txt > .time > span {
  font-size: 0.213328rem;
  color: #ccc;
  margin-left: 0.13333rem;
}
.shuju .page {
  height: 1.06664rem;
  line-height: 1.06664rem;
  font-size: 0.26666rem;
  color: #000;
  width: 100%;
}
.shuju .page span {
  display: inline-block;
  text-align: center;
}
.shuju .page .bo a {
  height: 0.906644rem;
  width: 2.186612rem;
  background-color: #e4e4e4;
  border: 1px solid #ccc;
  padding: 0.13333rem 0.199995rem;
}
.shuju .page .pageNum select {
  width: 2.39994rem;
  height: 0.79998rem;
}
