html,
body {
  min-width: 320px;
}
.topText {
  height: 1.173304rem;
  background-color: #ff841d;
}
.topText .arrowLeft {
  width: 1.3333rem;
  height: 0.639984rem;
  height: 1.173304rem;
  line-height: 1.173304rem;
  font-size: 0.39999x;
  color: #fff;
  text-align: center;
}
.topText .title {
  color: #fff;
  font-size: 0.573319rem;
  margin: 0 1.3333rem;
  text-align: center;
  line-height: 1.173304rem;
}
.topText .appdow {
  text-align: center;
  width: 1.3333rem;
  margin-top: 0.13333rem;
}
.topText .appdow img {
  height: 0.879978rem;
}
.footer {
  height: 1.133305rem;
  margin-top: 0.653317rem;
}
.footer .login {
  font-size: 0.333325rem;
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.93331rem;
}
.footer .login .lo {
  width: 30%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.footer .login .top {
  width: 40%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.footer .login .top img {
  height: 0.373324rem;
  vertical-align: sub;
}
.footer .dowload {
  text-align: center;
  font-size: 0.253327rem;
  margin: 0.453322rem 0;
}
.footer .dowload .app span:first-child {
  color: red;
  font-weight: 700;
}
.footer .dowload .app span:nth-child(2) {
  color: #000;
  font-weight: 700;
}
.footer .dowload .dizhi {
  margin-top: 0.066665rem;
}
.nav {
  padding: 0.39999rem;
  background-color: #fff;
}
.nav .middle-nav {
  width: 7.59981rem;
  margin: 0.39999rem auto;
}
.nav .middle-nav .wangzhan {
  padding: 0.346658rem 0.186662rem;
  display: inline-block;
  height: 1.119972rem;
  line-height: 0.53332rem;
  border: 0.026666rem solid #ccc;
  font-size: 0.426656rem;
  margin: 0 0.13333rem 0.13333rem 0;
  background-color: #f4f4f4;
  text-align: center;
}
.nav .middle-nav .wangzhan img {
  display: inline-block;
  width: 0.426656rem;
  vertical-align: middle;
  margin-bottom: 0.13333rem;
}
